<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-hpecho" version="1.0.0">
  <name>echo</name>
  <description>Cordova Echo Plugin</description>
  <keywords>cordova,console,echo</keywords>

  <js-module src="www/echo.js" name="echo">
    <clobbers target="echo"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Echo">
        <param name="ios-package" value="CDVEcho"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVEcho.h"/>
    <source-file src="src/ios/CDVEcho.m"/>
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Echo">
        <param name="browser-package" value="echoProxy"/>
      </feature>
    </config-file>
    <js-module src="src/browser/echoProxy.js" name="echoProxy">
      <run/>
    </js-module>
  </platform>

</plugin>
